{% set page = 'home' %}

{% include 'header.html' %}

<!-- main content -->
<main class="page__content">
  <h1 class="visually-hidden">Perfect Cloud Network Company</h1>
  <section class="hero-block container pt-3">
    <div class="row">
      <div class="col-md-7 col-lg-8 col-xl-9">
        <h2 class="h5 hero-block__title text-uppercase mt-2 mb-3">IDEAL PROFESSIONAL DEDICATED SERVERS AND HOSTING
          SOLUTIONS!</h2>
        <p class="hero-block__text">
          In our time, dedicated servers - one of the most popular services in the field of IT technologies. We really
          different from other companies. We use only our, high quality equipment based on the principles of quality and
          resiliency. We only use your own software for control and protection of our equipment.
        </p>
        <p class="hero-block__text">
          That's why you can always be sure of the quality of our services. We are always glad to see you.
        </p>
        <a href="#" class="hero-block__link">Read more about Perfect Cloud Servers</a>
      </div>
      <div class="col-md-5 col-lg-4 col-xl-3 text-center text-md-start">
        <img src="./img/slide_1_picture.png" alt="Planet Earth with servers around" class="hero-block__img">
      </div>
    </div>

    <hr class="hr-light">

    <ul class="hero-block__features nav text-uppercase fw-light">
      <li class="nav-item small py-2 px-3 ">Dedicated servers Solutions</li>
      <li class="nav-item small py-2 px-3 ">DDOS protection</li>
      <li class="nav-item small py-2 px-3 ">Control Panel Available</li>
      <li class="nav-item small py-2 px-3 ">24/7 Support</li>
      <li class="nav-item small py-2 px-3 ">Server for your software</li>
    </ul>
  </section>

  <hr class="hr-shadow container">

  <section class="tariffs container pt-4" id="tariffs">
    <h2 class="tariffs__title text-secondary my-4">Please check our standart and custom dedicated servers configurations
    </h2>

    <h3 class="mb-3">Ours dedicated servers:</h3>

    <ul class="tariffs__list list-unstyled">

      {% for item in dedics %}
        <li class="tariffs__item">

          <h3 class="tariffs__item-title h4">
            {{ item.title }}
          </h3>

          <img class="tariffs__img" src="{{ item.img }}" alt="photo {{ item.title }}">

          <ul class="tariffs__specs">
            <li class="tariffs__specs-item">{{ item.proc }}</li>
            <li class="tariffs__specs-item">{{ item.ram }}</li>
            <li class="tariffs__specs-item">{{ item.ssd }}</li>
            <li class="tariffs__specs-item">{{ item.traffic }}</li>
          </ul>

          <a href="{{ item.url }}" class="btn btn-primary w-100 d-flex">
            <span class="me-auto">starting from {{ item.price }}AED per month</span> &#9658;
          </a>

        </li>
      {% endfor %}

    </ul>

    <hr class="mt-4 mb-5" size="3">

    <h3 class="mb-3">Ours Virtual servers:</h3>

    <ul class="tariffs__list list-unstyled">

      {% for item in vds %}
        <li class="tariffs__item">

          <h3 class="tariffs__item-title h4">
            {{ item.title }}
          </h3>

          <img class="tariffs__img" src="{{ item.img }}" alt="photo {{ item.title }}">

          <ul class="tariffs__specs">
            <li class="tariffs__specs-item">{{ item.proc }}</li>
            <li class="tariffs__specs-item">{{ item.ram }}</li>
            <li class="tariffs__specs-item">{{ item.ssd }}</li>
            <li class="tariffs__specs-item">{{ item.traffic }}</li>
          </ul>

          <a href="{{ item.url }}" class="btn btn-primary w-100 d-flex">
            <span class="me-auto">starting from {{ item.price }}AED per month</span> &#9658;
          </a>

        </li>
      {% endfor %}

    </ul>

  </section>
  <section class="activities container py-4" id="activites">
    <h2 class="activities__title h5">Company activities:</h2>
    <ul class="list-group list-group-flush d-inline-flex">
      <li class="list-group-item">Internet resource trading</li>
      <li class="list-group-item">We manage CPU/GPU power and computing</li>
      <li class="list-group-item">Clouds and virtualisation at the internet</li>
      <li class="list-group-item">Hardware colocation datacenter services</li>
      <li class="list-group-item">IP address routing</li>
      <li class="list-group-item">IPv4 and IPv6 address leasing and selling</li>
    </ul>
  </section>

  <section class="servers-images d-flex container flex-column flex-md-row justify-content-around my-4">

    <h2 class="visually-hidden">ours servers</h2>

    <a href="#!" class="servers-images__link"><img src="img/item-1.jpg" alt="cisco" class="servers-images__img"></a>
    <a href="#!" class="servers-images__link"><img src="img/item-2.jpg" alt="juniper" class="servers-images__img"></a>
    <a href="#!" class="servers-images__link"><img src="img/item-3.jpg" alt="supermicro" class="servers-images__img"></a>
    <a href="#!" class="servers-images__link"><img src="img/item-4.jpg" alt="dell" class="servers-images__img"></a>
    <a href="#!" class="servers-images__link"><img src="img/item-5.jpg" alt="hp" class="servers-images__img"></a>

  </section>

</main>

{% include 'footer.html' %}
