{% set page = 'terms' %}

{% include 'header.html' %}

<main class="page__content">
  <div class="container">

    <h1 class="page__title h1 mt-5">
      OFFER AGREEMENT for INTERNET SERVICES<br>
      PERFECT CLOUD NETWORK - SOLE PROPRIETORSHIP L.L.C.
    </h1>

    <p class="lead">License number CN-4187026</p>

    <p>To properly access and use “PERFECT-CLOUD.PRO”, please, get acquainted and agree with the present consumers’
      agreement PERFECT CLOUD NETWORK - SOLE PROPRIETORSHIP L.L.C. (here and after PERFECT CLOUD NETWORK or COMPANY)
      Website Terms, Conditions and Notices</p>

    <p>Following terms, conditions, and notices (hereinafter collectively referred to as the “Consumers’ Agreement” or
      just the “Agreement”) is executed between the PERFECT CLOUD NETWORK - SOLE PROPRIETORSHIP L.L.C. and consumers
      (hereinafter: “Customer”) who wish to access, use and acquire PERFECT CLOUD NETWORK’s services and products.</p>

    <ol>
      <li>
        <p class="fw-bold">Product Description:</p>
        <p>
          Through its websites, mobile properties and related applications (collectively referred to as the “Website”)
          Company offers its Customers premium quality services and products (hereinafter: “Products”), including
          (however, not limited to):
        </p>
        <ul class="mb-3">
          <li>Cloud services;</li>
          <li>IT consulting;</li>
          <li>Colocation services;</li>
          <li>CERT (computer emergency response team) security and decisions for safeguarding from DDoS (distributed denial of service);</li>
          <li>Datacenter services;</li>
          <li>Planning, arranging and administrating server infrastructure;</li>
        </ul>
      </li>

      <li>
        <p class="fw-bold">Terms and Definitions:</p>
        <p>For the purposes of the present document terms listed below have the following definitions:<br>
          Customer – any legal (including any governmental bodies) or physical person who receives PERFECT CLOUD
          NETWORK’s
          Products;<br>
          Service Fee – A fee that is fixed by PERFECT CLOUD NETWORK on its online portal for the specific Product
          ordered
          by the Customer;<br>
          Payment Period – Payment date that is fixed by PERFECT CLOUD NETWORK on its online portal by attaching invoice
          on
          the Customer’s page (profile);<br>
          Hosting – A service for placing Customer’s website on the internet;<br>
          Domain Name – A domain name indicated by the Customer through an online application (notice);<br>
          Physical Server – A physical server owned by PERFECT CLOUD NETWORK that is leased to the Customer for the
          latter
          to administer it at its (Customer’s) own discretion;<br>
          Server – A computer that is placed in the colocation area;<br>
          Virtual Server – A virtual engine assigned to PERFECT CLOUD NETWORK’s physical server that uses some of the
          physical server’s resources, such as space, memory (RAM) and processor. Such servers are administered by the
          Customer;<br>
          Colocation Area – Datacenter of PERFECT CLOUD NETWORK and where Customer’s server(s) and other additional
          devices
          are placed.</p>
      </li>

      <li>
        <p class="fw-bold">Use of the Website:</p>
        <p>The following Website and the Products made available on this Website are offered to Customers, conditioned
          upon
          their acceptance (without modification) of any and all the terms, conditions, and notices set forth below. By
          accessing or using this Website in any manner, Customer agrees to be bound by it and represents that Customer
          has
          read and understood its terms. In all purchase/order arrangements, the person making the order shall be deemed
          to
          have accepted this Agreement on behalf of the persons named in the order.</p>

        <p>We may change or otherwise modify the Agreement in the future, and Customer understands and agrees that
          continued
          access or use of this Website, after such change, signifies Customer’s acceptance of the updated or modified
          Agreement. We will display the date of the last revisions to the Agreement at the top of this page, and any
          revisions will take effect upon posting. We will notify our registered members about material changes to this
          Agreement by either sending a notice to the email address provided to us at the moment of registration or by
          placing a notice on our Website. Be sure to return to this page periodically to review the most current
          version
          of
          the Agreement.</p>

        <p class="fw-bold">As a condition of Customer’s use of this Website, Customer warrants that:</p>
        <ol class="list-roman">
          <li>all information supplied by Customer on this Website is true, accurate, current and complete;</li>
          <li>if Customer has a PERFECT CLOUD NETWORK account, the former will safeguard the account information
            and will supervise and be completely responsible for any use of Customer’s account by anyone other than the
            Customer;
          </li>
          <li>Customer realizes and understands that in case Customer fails to keep account information safe and
            secret, and it will result in an authorized access of the account by third parties – only the Customer shall
            bear the responsibility/liability for the consequences caused by such access. PERFECT CLOUD NETWORK shall
            have no liability towards such cases;
          </li>
          <li>He/she is at least 18 years of age in order to register an account and contribute to our Website.
            PERFECT CLOUD NETWORK does not knowingly collect the information of anyone under the age of 18;
          </li>
          <li>Customer’s use of this Website is intended for making legitimate orders to purchase the Products
            offered. Customer agrees not to use this Website to make any speculative, false or fraudulent requests.
          </li>
        </ol>

        <p class="fw-bold">Furthermore, as a condition of Customer’s use of this Website and our Products, Customer is
          obliged to:</p>
        <ol class="list-roman">
          <li>Duly pay the price for ordered Products.</li>
          <li>Create necessary conditions for the PERFECT CLOUD NETWORK to duly perform its obligations (provide
            correct billing information, address, etc.);
          </li>

          <li>Reference the correct invoice number during payment.</li>
        </ol>

        <p class="fw-bold">While providing its Products, PERFECT CLOUD NETWORK is obliged to:</p>
        <ol class="list-roman">
          <li>Provide 24/7 monitoring and support of its services through the following email –
            help@perfect-cloud.pro
          </li>
          <li>Secure continuous provision of its services and products for 24/7, except from the cases when PERFECT
            CLOUD
            NETWORK is carrying out maintenance or any similar line of work (in such cases, PERFECT CLOUD NETWORK will
            place
            a
            notification on its Website 3 (three) days earlier).
          </li>
        </ol>

        <p class="fw-bold">While providing hosting and physical/virtual server services, PERFECT CLOUD NETWORK is
          authorized to:</p>
        <ol class="list-roman">
          <li>Stop providing services in case the customer exceeds the payment deadline by 1 (one) day,;</li>
          <li>In case if the Customer has debts towards PERFECT CLOUD NETWORK (PERFECT CLOUD NETWORK’s portal shows
            unpaid invoices), the latter is authorized to count Customer’s payment (regardless of which invoice is
            covered with such payment) towards covering past debts.
          </li>
          <li>To restrict and / or suspend the provision of services to the Customer in case of violation of the
            terms of this Agreement by the Customer and / or on the basis of a relevant court decision;
          </li>
          <li>While providing hosting services, PERFECT CLOUD NETWORK is authorized to suspend the provision of the
            services to the Customer in case if such provision to the latter is delaying functionality of other websites
            that are placed on the same hosting.
          </li>
          <li>To restrict and / or suspend customer service on the basis of an official letter received from
            copyright protection organizations and / or the copyright companies themselves on the fact of illegal use of
            their copyrighted product;
          </li>
          <li>Delete Customer’s files from its server In case if the latter fails to pay the service fee(s) for
            longer than 1 (one) month;
          </li>
          <li>Demand 3 (three) months’ worth of advance payment from the Customer in exchange for renewal of the
            provision of Products that have been suspended for the mentioned Customer;
          </li>
        </ol>

        <p class="fw-bold">For the purposes of providing colocation services:</p>
        <ol class="list-latin">
          <li>
            <p class="fw-bold">Customer is authorized to:</p>
            <ol>
              <li>by obtaining prior consent from help@perfect-cloud.pro, grant Customer’s representative(s) access
                to
                the
                colocation area (no more than 3 (three) persons/representatives are allowed at the area for each
                Customer
                and
                not
                longer than 60 minutes per visit);
              </li>
              <li>Request access to the colocation area no more than 6 (six) times per calendar month;</li>
              <li>Request reloading of the server during any hour of any day, by sending notification on
                info@perfect-cloud.pro
              </li>
            </ol>
          </li>

          <li>
            <p class="fw-bold">Customer is obliged to:</p>
            <ol>
              <li>When requesting Customer’s representatives’ allowance at the colocation area, indicate their names,
                surnames,
                ID numbers and exact time of their visit in the notification sent at help@perfect-cloud.pro;
              </li>
              <li>To comply with the rules of conduct established by the company when being in the PERFECT CLOUD
                NETWORK
                data
                center.
              </li>
              <li>Not share advertisements, information or other content with other customers/third parties via
                electronic
                addresses, as well as available public electronic publishers and conferences (that are not intended for
                said
                purposes) without obtaining the prior consent of the addressees;
              </li>
              <li>Not to access (or attempt to access) technological components (aggregates), databases and other
                internet
                components without authorization.
              </li>
            </ol>
          </li>

          <li>
            <p class="fw-bold">PERFECT CLOUD NETWORK is authorized to:</p>
            <ol>
              <li>(a) Carry out planned technical maintenance that lasts no longer than 12 (twelve) hours;</li>
              <li>(b) Refuse Customer’s request on accessing colocation area in case if the proposed time matches the
                time of planned technical maintenance or other similar work;
              </li>

              <li>(c) Refuse Customer’s request on moving the latter’s servers from colocation area, in case if the
                Customer
              does
              not cover his/her/its debt towards PERFECT CLOUD NETWORK beforehand.
              </li>

            </ol>
          </li>
        </ol>
      </li>

      <li>
        <p class="fw-bold">Terms and Conditions for Providing Domain Registration Services:</p>
        <p>By registering domain name Customer obtains limited, transferable, renewable and exclusive usage rights of
          the
          domain for the period and in accordance with the terms specified in the present Agreement and in the rules of
          domain registration and administration.</p>

        <p>Customer bears the responsibility for a mistake made while registering a domain name. Therefore, in such
          cases,
          paid fees shall not be refunded after the domain’s activation.</p>
      </li>

      <li>
        <p class="fw-bold">Prohibited Activities</p>
        <p>The content and information on this Website (including, but not limited to, messages, data, information,
          text,
          graphics, video, maps, icons, software, code or other material), as well as the infrastructure, used to
          provide
          such content and information, is proprietary to us. Customer agrees not to otherwise modify, copy, distribute,
          transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or
          re-sell any information, content, software, products, or services obtained from or through this Website. Any
          other
          use of PERFECT CLOUD NETWORK’s content requires the prior written permission of the Company.</p>

        <p>Additionally, Customer agrees not to assist or enable others to:</p>
        <ol class="list-roman">
          <li>use this Website or its contents for any commercial or unlawful purpose;</li>
          <li>access, monitor or copy any content or information of this Website using any robot; spider, scraper or
          other
          automated means or any manual process to access, scrape, index, retrieve or otherwise use the Website or any
          content on the Website for any purpose without our expressed written permission;</li>
          <li>violate the restrictions in any robot exclusion headers on this Website or bypass or circumvent other
          measures employed to prevent or limit access to this Website;</li>
          <li>take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately
          large
          load on our infrastructure or makes excessive traffic demands on the Website;</li>
          <li>deep-link to any portion of this Website for any purpose without our express written permission;</li>
          <li>frame", "mirror" or otherwise incorporate any part of this Website into any other website without our
          prior
          written authorization;</li>
          <li>attempt to modify, translate, adapt, edit, decompile, disassemble, or reverse engineer any software
          programs
          used by PERFECT CLOUD NETWORK in connection with the Website;</li>
          <li>use the Website to threaten, stalk, defraud, incite, harass, or advocate the harassment of another
          person,
          or otherwise interfere with another user's use of the Website;</li>
          <li>use the Website to submit or transmit spam, chain letters, contests, junk email, pyramid schemes, surveys,
          or
          other mass messaging, whether commercial in nature or not;</li>
          <li>use the Website in a manner that may create a conflict of interest, such as trading reviews with other
          business
          owners or writing or soliciting reviews;</li>
          <li>use the Website to promote bigotry or discrimination against protected classes; use the Website to violate
          any
          third-party right, including any breach of confidence, copyright, trademark, patent, trade secret, moral
          right,
          privacy right, right of publicity, or any other intellectual property or proprietary right;</li>
          <li>use the Website to submit or transmit pornography or illegal content, use the Website to solicit personal
          information from minors or to harm or threaten to cause harm to minors;</li>
          <li>attempt to gain unauthorized access to the Website, user accounts, computer systems or networks
          connected
          to
          the Website through hacking, password mining or any other means; use the Website to transmit any computer
          viruses,
          worms, defects, Trojan horses or other items of a destructive nature (collectively, "Viruses");</li>
          <li>use any device, software or routine that interferes with the proper functionality of the Website, or
          otherwise attempt to interfere with the proper working of the Website;
          </li>
          <li>use the Website to violate the security of any computer network, crack passwords or security encryption
          codes;
          </li>
          <li>disrupt or interfere with the security of, or otherwise cause harm to the Website; or</li>
          <li>remove, circumvent, disable, damage or otherwise interfere with any security-related features of the
          Website, features that prevent or restrict the use or copying of Website Content, or features that enforce
          limitations to the use of the Website.
          </li>
        </ol>

        <p>Customer is also prohibited from carrying out activities listed above.</p>
      </li>

      <li>
        <p class="fw-bold">Products:</p>
        <p>By ordering/purchasing our Products through the Website, Customer acknowledges that he/she accepts the
          practices
          described in our Privacy Policy and this Agreement. In addition, Customer warrants to be 18 years of age or
          older and that Customer possesses the legal authority to enter into this Agreement, use this Website, order
          the Product,
          and that all information Customer provides is true and accurate. Customer further agrees to use the purchase
          functions of this Website to make only legitimate orders for Customer or others on behalf of whom Customer is
          legally authorized to act. Any false or fraudulent orders are prohibited, and any user who attempts such
          action
          may have their account terminated.</p>
      </li>

      <li>
        <p class="fw-bold">Modifications & Amendments:</p>
        <p>Occasionally, prices, coverage, age requirements, and other Product features and/or requirements may change.
          As
          a
          result, PERFECT CLOUD NETWORK reserves the right to cancel, change or substitute any service or product that
          Customer has booked for the future purchase at this Website, at any time, for any reason. In such cases, if
          the
          Customer is dissatisfied with the alternatives offered, Customer is entitled to a full refund of the original
          purchase price. Notwithstanding the above, when such changes take effect, we will make every reasonable effort
          to
          notify the Consumer, in order to amend or re-issue the order where feasible.</p>
      </li>

      <li>
        <p class="fw-bold">Pricing & Inclusions/Exclusions:</p>
        <p>Prices listed on the Website are per Product, unless otherwise specified.</p>

        <p>Prices are based on the local tariff at the time of placing an order, converted at the prevailing
          foreign-exchange
          rate as determined by PERFECT CLOUD NETWORK.</p>
      </li>

      <li>
        <p class="fw-bold">Payments & Cancellations:</p>
        <p>When Customer orders our Product through the Website, PERFECT CLOUD NETWORK collects Customer’s payment
          information.</p>

        <p>No refunds are available once a Product is ordered.</p>

        <p>The value of the transaction may be subject to taxes, duties, foreign transactions, currency exchange or
          other
          fees. Customer’s bank or credit/debit card company may convert the payment into the local currency and charge
          fees, resulting in differences between the amount displayed on Websites, and the final amount charged to
          customer’s bank account or credit/debit card statement. Please, contact Customer’s bank or credit/debit card
          company in case of having any questions concerning any applicable conversion or fees.</p>

        <p>Price quotations are subject to change without notice, until an order has been confirmed.</p>

        <p>Unless otherwise specified, prices do not include any local taxes or use-fees.</p>
      </li>

      <li>
        <p class="fw-bold">Our Liability:</p>
        <p>THIS SECTION LIMITS PERFECT CLOUD NETWORK’S LIABILITY TO CUSTOMERS FOR ISSUES THAT MAY ARISE IN CONNECTION
          WITH
          CUSTOMER’S USE OF THIS WEBSITE. THE INFORMATION, CONTENT, SOFTWARE, PRODUCTS, AND SERVICES PUBLISHED ON THIS
          WEBSITE MAY INCLUDE INACCURACIES OR ERRORS, INCLUDING PRICING ERRORS. PERFECT CLOUD NETWORK - SOLE
          PROPRIETORSHIP
          L.L.C. DO NOT GUARANTEE THE ACCURACY OF, AND DISCLAIM ALL LIABILITY FOR, ANY ERRORS OR OTHER INACCURACIES
          RELATING
          TO THE INFORMATION AND DESCRIPTION OF THE PRODUCTS AND SERVICES DISPLAYED ON THIS WEBSITE (INCLUDING, WITHOUT
          LIMITATION, THE PRICING, FEATURES, INCLUSIONS AND EXCLUSIONS, GENERAL PRODUCT DESCRIPTIONS, REVIEWS AND
          RATINGS,
          ETC.). IN ADDITION, PERFECT CLOUD NETWORK EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY AVAILABILITY AND PRICING
          ERRORS ON OUR WEBSITE AND/OR ON PENDING ORDERS MADE UNDER AN INCORRECT PRICE. THE PERFECT CLOUD NETWORK MAKES
          NO
          REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION, CONTENT, SOFTWARE, PRODUCTS, AND SERVICES CONTAINED
          ON
          THIS WEBSITE FOR ANY PURPOSE, AND THE INCLUSION OR OFFERING OF ANY PRODUCTS OR SERVICES ON THIS WEBSITE DOES
          NOT
          CONSTITUTE ANY ENDORSEMENT OR RECOMMENDATION OF SUCH PRODUCTS OR SERVICES BY THE PERFECT CLOUD NETWORK. ALL
          SUCH
          INFORMATION, CONTENT, SOFTWARE, PRODUCTS, AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND
          (UNLESS
          OTHERWISE SPECIFIED). PERFECT CLOUD NETWORK DIS CLAIM ALL WARRANTIES AND CONDITIONS THAT THIS WEBSITE OR ITS
          SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. PERFECT CLOUD NETWORK HEREBY DISCLAIMS ALL WARRANTIES
          AND
          CONDITIONS CONCERNING THIS INFORMATION, CONTENT SOFTWARE, PRODUCTS, AND SERVICES, INCLUDING ALL IMPLIED
          WARRANTIES
          AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT, TO THE
          EXTENT
          PERMITTED BY LAW. THE THIRD PARTY SUPPLIERS AND PRIVATE PROVIDERS PROVIDING PRODUCTS OR OTHER SERVICES ON THIS
          WEBSITE ARE INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF THE PERFECT CLOUD NETWORK. PERFECT CLOUD
          NETWORK IS NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES, NEGLIGENCE OR
          MISCONDUCT OF ANY SUCH SUPPLIERS OR PRIVATE PROVIDERS OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR
          OTHER DAMAGES OR EXPENSES RESULTING THEREFROM OR OTHERWISE ARISING FROM CUSTOMER’S ORDER OF A PRODUCT OR
          SERVICE
          OR CUSTOMER’S USE OF A PRODUCT OR SERVICE. PERFECT CLOUD NETWORK SHALL HAVE NO LIABILITY AND WILL MAKE NO
          REFUNDS
          IN THE EVENT OF ANY DELAY, CANCELLATION, STRIKE, FORCE-MAJEURE OR OTHER CAUSES THAT ARE BEYOND OUR DIRECT
          CONTROL,
          AND WE HAVE NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSES, OMISSIONS, DELAYS, RE-ROUTINGS OR ACTS OF ANY
          GOVERNMENT OR AUTHORITY. IN NO EVENT SHALL THE PERFECT CLOUD NETWORK (OR THEIR OFFICERS, DIRECTORS, AND
          AFFILIATES) BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL
          DAMAGES
          (INCLUDING WITHOUT LIMITATION LOSS OF DATA OR INFORMATION OR COSTS TO PROCURE SUBSTITUTE GOODS OR SERVICES)
          ARISING OUT OF, OR IN ANY WAY CONNECTED WITH PRODUCT OR SERVICE ORDERS MADE BY THE CUSTOMER THROUGH THIS
          WEBSITE,
          OR CUSTOMER’S ACCESS TO, DISPLAY OF OR USE OF THIS WEBSITE OR WITH THE DELAY OR INABILITY TO ACCESS, DISPLAY
          OR
          USE THIS WEBSITE (INCLUDING, BUT NOT LIMITED TO, CUSTOMER’S RELIANCE UPON REVIEWS AND OPINIONS APPEARING ON
          THIS
          WEBSITE; ANY COMPUTER VIRUSES, INFORMATION, SOFTWARE, LINKED SITES, PRODUCTS, AND SERVICES OBTAINED THROUGH
          THIS
          WEBSITE; OR OTHERWISE ARISING OUT OF THE ACCESS TO, DISPLAY OF OR USE OF THIS WEBSITE) WHETHER BASED ON A
          THEORY
          OF NEGLIGENCE, CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE AND EVEN IF PERFECT CLOUD NETWORK HAS BEEN
          ADVISED
          OF THE POSSIBILITY OF SUCH DAMAGES.</p>
      </li>

      <li>
        <p class="fw-bold">General Provisions:</p>
        <p>If any part of this Agreement is determined to be invalid or unenforceable pursuant to applicable law
          including,
          but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or
          unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches
          the
          intent of the original provision and the remaining provisions in the Agreement shall remain in effect.</p>

        <p>This Agreement (and any other terms and conditions referenced herein) constitutes the entire agreement
          between
          the
          customers and PERFECT CLOUD NETWORK - SOLE PROPRIETORSHIP L.L.C. with respect to this Website and it
          supersedes
          all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the
          customer and PERFECT CLOUD NETWORK - SOLE PROPRIETORSHIP L.L.C. with respect to this Website. A printed
          version
          of
          this Agreement and of any notice given in electronic form shall be admissible in judicial or administrative
          proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as
          other business documents and records originally generated and maintained in printed form.</p>

        <p>Fictitious names of companies, products, people, characters, and/or data mentioned on this Website are not
          intended to represent any real individual, company, product, or event.</p>

        <p>Any rights not expressly granted herein are reserved.</p>
      </li>
    </ol>

    <p>
      Requisites of PERFECT CLOUD NETWORK - SOLE PROPRIETORSHIP L.L.C.:<br>
      Company’s legal name: PERFECT CLOUD NETWORK - SOLE PROPRIETORSHIP L.L.C.;<br>
      License number CN-4187026<br>
      Legal Address: 358, Al Busnad 1 St, Musaffah, Abu Dhabi 20319<br>
    </p>

    <p>WWW: <a href="https://perfect-cloud.pro">https://perfect-cloud.pro</a></p>

    <p>Agreed and approved on</p>

    </div>
</main>


{% include 'footer.html' %}
